Connected to base (Python 3.10.6)

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
sample_1 = pd.read_csv("sample_data/sample_1.csv")

In [15]:
sample_1['id'] = sample_1.index

In [4]:
sample_2 = pd.read_csv("sample_data/sample_2.csv")

In [16]:
sample_2['id'] = sample_2.index

In [5]:
from tcrpeg_toolkit.embedding_handler import EmbeddingHandler

In [17]:
sample_1_embeddings = EmbeddingHandler("results_sample_data/embeddings/structured/sample_1_structured_embeddings.npy",
                                       name ='sample_1', metadata=sample_1)

INFO - Data loaded from results_sample_data/embeddings/structured/sample_1_structured_embeddings.npy

In [18]:
sample_2_embeddings = EmbeddingHandler("results_sample_data/embeddings/structured/sample_2_structured_embeddings.npy",
                                       name ='sample_1', metadata=sample_2)

INFO - Data loaded from results_sample_data/embeddings/structured/sample_2_structured_embeddings.npy

In [19]:
sequence_common = np.intersect1d(sample_1['sequence'], sample_2['sequence'])

In [20]:
sequence_common

array(['CAADWGGAGDTQYF', 'CAAGGTTSAETLYF', 'CACGGASAETLYF', ...,
       'RASSLVGASSAETLYF', 'YASSDEQGSTGQLYF', 'YTCSAGLGYEQYF'],
      dtype=object)

In [21]:
sample_all_embeddings = sample_1_embeddings + sample_2_embeddings

In [22]:
sample_all_embeddings

EmbeddingHandler(embeddings_shape=(3983, 640), ids_shape=(3983,), sequences_shape=(3983,), metadata_shape=(3983, 5), name=sample_1_sample_1)

In [26]:
metadata_merged = sample_all_embeddings.metadata
metadata_merged

                 id          sequence  count id_old data_origin
0        0:sample_1    CASTAGTSNTEVFF      4      0    sample_1
1        1:sample_1      CGGGADTGQLYF      3      1    sample_1
2        2:sample_1     CGARFSYNSPLYF      2      2    sample_1
3        3:sample_1       CASSLNTEVFF    125      3    sample_1
4        4:sample_1  CASSLTGGGGAETLYF     10      4    sample_1
...             ...               ...    ...    ...         ...
3978  1978:sample_1     CASSPTGVNTLYF      6   1978    sample_1
3979  1979:sample_1   CVSSGGLGVYAEQFF      4   1979    sample_1
3980  1980:sample_1       CASSTGGKQFF      3   1980    sample_1
3981  1981:sample_1    CASSPRVSAETLYF     16   1981    sample_1
3982  1982:sample_1    CASSPSDWLYEQYF      1   1982    sample_1

[3983 rows x 5 columns]

In [28]:
metadata_merged[metadata_merged['sequence'].isin(sequence_common)]['id']

0          0:sample_1
1          1:sample_1
2          2:sample_1
3          3:sample_1
4          4:sample_1
            ...
3978    1978:sample_1
3979    1979:sample_1
3980    1980:sample_1
3981    1981:sample_1
3982    1982:sample_1
Name: id, Length: 3966, dtype: object

In [ ]:
sample_all_embeddings.filter_by_ids(sequence_common)