Connected to base (Python 3.10.6)

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
sample_1 = pd.read_csv("sample_data/sample_1.csv")

In [4]:
sample_1['id'] = sample_1.index

In [5]:
sample_2 = pd.read_csv("sample_data/sample_2.csv")

In [6]:
sample_2['id'] = sample_2.index

In [7]:
from tcrpeg_toolkit.embedding_handler import EmbeddingHandler

In [8]:
sample_1_embeddings = EmbeddingHandler("results_sample_data/embeddings/structured/sample_1_structured_embeddings.npy",
                                       name ='sample_1', metadata=sample_1)

INFO - Data loaded from results_sample_data/embeddings/structured/sample_1_structured_embeddings.npy

In [9]:
sample_2_embeddings = EmbeddingHandler("results_sample_data/embeddings/structured/sample_2_structured_embeddings.npy",
                                       name ='sample_1', metadata=sample_2)

INFO - Data loaded from results_sample_data/embeddings/structured/sample_2_structured_embeddings.npy

In [10]:
sequence_common = np.intersect1d(sample_1['sequence'], sample_2['sequence'])

In [11]:
sequence_common

array([], dtype=object)

In [12]:
sample_all_embeddings = sample_1_embeddings + sample_2_embeddings

In [13]:
sample_all_embeddings

EmbeddingHandler(embeddings_shape=(1579, 640), ids_shape=(1579,), sequences_shape=(1579,), metadata_shape=(1579, 5), name=sample_1_sample_1)

In [14]:
metadata_merged = sample_all_embeddings.metadata
metadata_merged

                 id         sequence  count id_old data_origin
0        0:sample_1   CASSAPGTGRTLYF      3      0    sample_1
1        1:sample_1     CASTWGGDTQYF      4      1    sample_1
2        2:sample_1     CASSIQGEGVFF      5      2    sample_1
3        3:sample_1       CAWSLIEQYF      6      3    sample_1
4        4:sample_1     CASSRNNTEVFF      7      4    sample_1
...             ...              ...    ...    ...         ...
1574  1121:sample_1    CAWSLGYNSPLYF   1124   1121    sample_1
1575  1122:sample_1       CASSYGEQFF   1125   1122    sample_1
1576  1123:sample_1  CASSQDSGGLYEQYF   1126   1123    sample_1
1577  1124:sample_1   CASSLDGTNSPLYF   1127   1124    sample_1
1578  1125:sample_1    CAWSHDRNTEVFF   1128   1125    sample_1

[1579 rows x 5 columns]

In [15]:
metadata_merged[metadata_merged['sequence'].isin(sequence_common)]['id']

Series([], Name: id, dtype: object)

In [17]:
sample_all_embeddings.filter_by_id(sequence_common)

EmbeddingHandler(embeddings_shape=(0, 640), ids_shape=(0,), sequences_shape=(0,), metadata_shape=(0, 5), name=sample_1_sample_1)